extends ./layout/index

block contenido
    main.container.mt-5     
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis enim turpis, viverra tempus ex efficitur id. In sagittis sed libero vel dignissim. Donec accumsan leo in eros tincidunt euismod. Aenean sagittis lobortis tempor. Aliquam elementum urna eget suscipit tincidunt. Fusce pharetra dictum efficitur. Duis dapibus suscipit urna, sed sodales ligula faucibus vitae. Aenean ante arcu, rhoncus sed ultrices sed, facilisis sed ipsum. Mauris iaculis nisl eu arcu laoreet fermentum. Duis facilisis consectetur est. Cras semper gravida blandit. Ut at libero tristique, varius mi in, ultricies libero. Curabitur vestibulum ac felis quis sagittis.

                p Tristique dignissim mollis. Aenean imperdiet vehicula tempor. Aenean lacinia purus eu eros blandit, at porttitor nisi tempus. Aenean tincidunt fermentum semper. Vivamus ligula arcu, vestibulum quis nisi sit amet, vulputate fringilla dui. Aliquam erat volutpat. Sed non ante metus. Aliquam volutpat aliquam tellus, id semper felis ullamcorper at.

                p Facilisis efficitur est, in blandit nisl varius sit amet. Ut eleifend volutpat magna sit amet laoreet. Nam accumsan, ipsum eu accumsan posuere, sem metus eleifend mi, sed aliquam mauris orci eu massa. Fusce imperdiet leo sed massa bibendum ornare.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nam accumsan, ipsum eu accumsan posuere, sem metus eleifend mi, sed aliquam mauris orci eu massa. Fusce imperdiet leo sed massa bibendum ornare.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Nam accumsan, ipsum eu accumsan posuere, sem metus eleifend mi, sed aliquam mauris orci eu massa. Fusce imperdiet leo sed massa bibendum ornare.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Nam accumsan, ipsum eu accumsan posuere, sem metus eleifend mi, sed aliquam mauris orci eu massa. Fusce imperdiet leo sed massa bibendum ornare.